/* Encriptador - 2 Desktop */
body {
    position: relative;
    width: auto;
    height: auto;
    background: #F3F5FC;
}

btn-encriptar {
    /* Button */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

    /* Dark blue/dark-blue-300 */
    background: #0A3871;
    border-radius: 24px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}